.footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    // width: 1440px;
}

.footer-container {
    padding: 80px 424px 40px;
    gap: 8px;

    // width: 1440px;
    height: 340px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
}

.footer-header {
    width: 592px;
    height: 84px;

    font-size: 56px;
    line-height: 150%;

    text-align: center;
    letter-spacing: -0.02em;

    color: rgba(227, 228, 230, 0.55);
}

.footer-text {
    width: 592px;
    height: 27px;

    font-size: 18px;
    line-height: 150%;

    text-align: center;

    color: rgba(227, 228, 230, 0.55);
}

.footer-end-text {
    width: 592px;
    height: 27px;
    margin-top: 80px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;

    text-align: center;

    color: rgba(227, 228, 230, 0.55);
}

.footer-icons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    gap: 56px;

    width: 592px;
    height: 48px;
    // color: white;
}
