.work-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 110px 120px;
    gap: 45px;

    width: 1440px;
    height: fit-content;
}

.work-header {
    align-items: flex-start;

    height: 60px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;

    color: rgba(227, 228, 230, 0.55);
}
.work-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 97px;

    width: 1440px;
    height: fit-content;
}
